@model object
<div class="mp-lightbox" data-lightbox aria-hidden="true" role="dialog" aria-label="@L["Image viewer"]">
  <button class="mp-lightbox__close" data-lb-close aria-label="@L["Close"]">&times;</button>
  <button class="mp-lightbox__nav mp-lightbox__nav--prev" data-lb-prev aria-label="@L["Previous image"]">&lsaquo;</button>
  <img class="mp-lightbox__img" data-lb-img src="" alt="" />
  <button class="mp-lightbox__nav mp-lightbox__nav--next" data-lb-next aria-label="@L["Next image"]">&rsaquo;</button>
  <div class="mp-lightbox__count" data-lb-count></div>
</div>
